<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
    <script type="text/javascript">
        function Check() {

            var name = document.getElementsByName('name')[0].value;
            var Account = document.getElementsByName('Account')[0].value;
            var area = document.getElementsByName('area')[0].value;
            var address = document.getElementsByName('address')[0].value;
            if (name && Account && area && address) {
                return true;
            }
            alert('please input the info.');
            return false;

        }
    </script>
</head>

<body>
    <form name="addform" action="storeAdd" method="post" accept-charset="utf-8" onSubmit="return Check();">
        <h1>店舖 - 新增店舖</h1>
        <div class="row">
            <label>名稱：</label>
            <input type="text" name="name" placeholder="name" />
        </div>
        <div class="row">
            <label>所有者：</label>
            <select name="Account">
                <option value="0"></option>
                <% for ( var i = 0 ; i < user.length ; i++){ %>
                <option value="<%= user[i].id  %>"><%= user[i].name  %></option>
                <% } %>
            </select>
        </div>
        <div class="row">
            <label>區域：</label>
            <input type="text" name="area" placeholder="area" />
        </div>
        <div class="row">
            <label>地址：</label>
            <input type="text" name="address" placeholder="address" />
        </div>
        <div class="row">
            <label>經度：</label>
            <input type="text" name="lat" placeholder="lat" />
        </div>
        <div class="row">
            <label>緯度：</label>
            <input type="text" name="lng" placeholder="lng" />
        </div>
        <div class="row">
            <input class="btn" type='submit' value='提交'>
            <input class="btn" type='reset' value='重置'>
            <input class="btn" type='button' value='上一頁' onclick="javascript: window.history.back();">
            <label class="msgerr">
                <%=msg %>
            </label>
        </div>
    </form>
</body>

</html>